*{
	font-family: '微軟正黑體';
	box-sizing: border-box;
}

body{
	background-image: url('../img/bg.png');
}

.login_logo{
    position: relative;
    max-width: 500px;
    margin: 0 auto;
}

.login_logo img{
	padding: 20px;
	margin:20px; 
}


.login_form{
	margin-top: 10px;
    position: relative;
    width: 100%;
    text-align: center;
}

.login_form label{
    width: 20%;
    text-align: center;
        display: inline-block;
}

.login_form input[type=Tel]{
    width: 60%;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    background-color: rgba(0,0,0,0.05);
    text-align: center;
    display: inline-block;
}

.login_form button{
    width: 82%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
}

.login_form button:hover {
    background-color: #45a049;
}

@media screen and (max-width: 500px) {
	.login_logo{
	    max-width: 100%;
	    margin-top: 20px;
	    box-sizing: border-box;
	}


	.login_logo img{
		margin:20px 0; 
	}

	.login_form input[type=Tel]{
		width:85%;
	}

	.login_form label{
		width: 25%;
        margin: 15px auto;
	}


	.login_form button{
    	width: 100%;
   		margin-top: 20px;
	}


}

/*========================*/

.logout{
    position: relative;
    text-align: right;
}

.topbar{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #919191;
    height: 50px;
    z-index: 100;
}

.topbar h1{
    text-align: center;
    font-size: 16pt;
    font-weight: 900;
    line-height: 50px;
        color: #ffffff;
}

.conent{
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
    top: 60px;
}

.prompt{
    margin: 20px auto;
    padding: 10px;
    background: rgba(0,0,0,0.05);
    line-height: 1.5em;
}

/*===============驗證機器人*/
.recbot{
    width:300px;
    margin: 10px auto;
    display: inline-block;
    vertical-align:middle;
}